#root > main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100%;
	color: #202124;
	font-family: Roboto;
}

#root > main.dark-theme {
	background: #202124;
	color: #e8eaed;
}
