# Example .env config for backend
# Copy it as '.env' in the same folder to use

# WARNING: Under any circumstances DON'T PUSH .env to git repository
# WARNING: as it MAY CONTAIN CREDENTIALS

# Express public folder. Resolves against this file
# Use 'src/public' for testing without builded webapp
# Use 'build/public' for production or development with builded webapp
PUBLIC='src/public'

# App port
# 3000 - production build or development with builded webapp
# 4000 - development build
PORT=3000

# Google client id
GOOGLE_ID=''

# Database file. Resolves against this file
# Use ':memory:' for in-memory db
DB_PATH='./db.sqlite'

# 'production' or 'development'
NODE_ENV='development'
